// HELPER CLASSES

.visible {
	visibility: visible;
}

.hidden {
	display: none;
}

.glyphicon {
	top:3px;
}

.muted {
	color: #999;
}

.hard {
	 padding: 0;
}

.hard-top {
	padding-top: 0;
}

.hard-left {
	padding-left: 0;
}

.flush {
	margin:0;
}

.flush-left {
	margin-left: 0;
}


.flush-top.flush-top.flush-top {
	margin-top: 0;
}

.flush-bottom.flush-bottom.flush-bottom {
	margin-bottom: 0;
}

.push-top-sm {
	margin-top: .5rem;

	@media (min-width: $screen-md-min) {
		margin-top: 1rem ;
	}

}

.push-top-md {
	margin-top: 1rem;

	@media (min-width: $screen-md-min) {
		margin-top: 2rem;
	}

}

.push-top-lg {
	margin-top: 2rem;

	@media (min-width: $screen-md-min) {
		margin-top: 3rem;
	}

}

.push-bottom-sm {
	margin-bottom: .5rem;

	@media (min-width: $screen-md-min) {
		margin-top: 1rem;
	}

}

.push-bottom-lg {
	margin-bottom: 2rem;

	@media (min-width: $screen-md-min) {
		margin-top: 3rem;
	}

}

.error {color: #F00}

.required::after{
	content: "*";
	color: red;
	margin-left: -.4em;
}

.panel {box-shadow: none; background:rgba(255,255,255,.4);}


.island-bg {
	background: #F9F8FA;
}

.text--left {
	text-align: left !important;
}

.text--center {
	text-align: center !important;
}

.text-center-lg {
	@media (min-width: $screen-lg-min) {
		text-align: center;
	}
}

.position-relative {
	position: relative !important;
}

.position-absolute {
	position: absolute !important;
}

.full-height {
	min-height: 100vh;
}

.block {
	display: block;
}
