.navbar {
	font-size: 0.9rem;
	border: 0;
	border-bottom: 1px solid #E8E8D2;
	background-color: #F6F6E5;
	background-color: rgba(247, 247, 247, 0.9);
	font-weight: 300;

	& > .container-fluid {
		max-width: none;
	}

}


@media (min-width: $grid-float-breakpoint) {
	.navbar ul {
		text-align: center;
		width: 100%;
	}

	.nav li {
		width: 20%;
		//border-right: 1px solid #444;
	}

	.container-fluid > .navbar-collapse {
		padding: 0;
	}
}


@media (max-width: $grid-float-breakpoint) {
	.navbar {display: none;} // hide navbar on mobile since it doesn't scroll to target
	.container-fluid > .navbar-collapse,
	.container-fluid > .navbar-header  {
		margin: 0;
	}
}



.navbar-fixed {
	z-index:100;
	// background-color: #FFF;
	//background-color: rgba(255,255,255,.95);
	position: fixed;
	top: 0;
	left: 0;
	width:100%;

		& + .container-fluid {
			margin-top: #{$navbar-height + 20};
	}
}


.navbar-collapse {

}

.navbar-relative {
	position: relative;
}


.navbar-default .navbar-nav > li > a:focus {
	color: #brand-secondary;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:focus {
	color: #666;
	//background-color: rgba(255, 255, 238, 0.7);
	background-color: #FFF;
	background-color: rgba(255,255,255,.9)
}

//

//.navbar-toggle {
		//color: $navbar-link-color;
//}
// @media (min-width: @grid-float-breakpoint) {
// 	// if
// 	position: fixed;
// }
