.btn-primary {
	background-color: transparent;
	border-color: #222;
	color: #222;
	border-widh:2px;
}


.footer {
	background: #2A2A2F;
	padding:30px;
	margin-top: 30px;
}


.rounded {
	border-radius:15px;
}

.rounded-50 {
	border-radius: 50%;
}

.rotate-1 {
	@media(min-width: $screen-sm-min) {
		transform: rotate(1deg);
	}
}

.img-wrapper {
	@media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
		margin-top: 5rem;
	}

	@media (min-width: $screen-lg-min) {
		padding: 10% 10% 5%;
	}
}

.img-framed {
	@media (min-width: $screen-sm-min) {
		border: 10px solid #fff;
		box-shadow: 0 0 1px 0 #888;
	}
}


.img-wrapper-guidelines {

}


// .media {
//   display: flex;
//   align-items: flex-start;
// }
//
// .media-figure {
//   margin-right: 1em;
// }
//
// .media-body {
//   flex: 1;
// }


.section {
	padding-top: 30px;
	padding-bottom: 60px;
	margin-top: 80px;
	margin-bottom: 60px;
}

.section-1 {
	background-color: #F9FAEC;
	color: #6E8B70;
}

.section-2 {
	background-color: #F9F9F9;
	color: #666;
}

.btn-amazon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    color: #D85C48;
    text-align: center;
    line-height: 1.14286;
    padding: 30px 0 0 0;
    text-decoration: none;
    font-weight: 700;
    -webkit-transition: 125ms background-color;
    transition: 125ms background-color;
    transform: rotate(-12deg);
    z-index: 1;
}

.inline-block {
	float: none;
	display: inline-block;
	margin-left: -0.25em;
	vertical-align: top;
}

.border-lg-sides {
	@media (min-width: $screen-lg-min) {
		border-left: 1px solid;
		border-right: 1px solid;
		border-color: #abe1ec;
	}
}
