.btn-primary {
	background-color: transparent;
	border-color: #222;
	color: #222;
	border-widh:2px;
}


.footer {
	background: #2A2A2F;
	padding:30px;
	margin-top: 30px;
}


.dummy {
	height: auto;
	width: 600px;
	background-color: #EEE;
	border-radius:100%;
}

.img-wrapper {
	padding: 10% 10% 5%;
}

.img-wrapper-guidelines {

}
