.btn-primary {
	background-color: transparent;
	border-color: #222;
	color: #222;
	border-widh:2px;
}


.footer {
	background: #2A2A2F;
	padding:30px;
	margin-top: 30px;
}


.dummy {
	height: auto;
	width: 800px;
	background-color: #EEE;
	border-radius:100%;
}

.img-wrapper {
	@media (min-width: $screen-sm-min) and (max-width: $screen-lg-min) {
		margin-top: 5rem;
	}

	@media (min-width: $screen-lg-min) {
		padding: 10% 10% 5%;
	}
}

.img-wrapper-guidelines {

}


.section {
	padding-top: 30px;
	padding-bottom: 60px;
	margin-top: 80px;
	margin-bottom: 60px;
}

.section-1 {
	background-color: #F9FAEC;
	color: #6E8B70;
}

.section-2 {
	background-color: #F9F9F9;
	color: #666;
}
