$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";



// BASE TYPOGRAPHY
$title-font: Oswald, sans-serif;
$base-font: Open Sans, sans-serif;
//$h1-size: ;
//$h1-line-height:;


//COLOR
$white: #FFF;
$brand: #FA4443;
$brand-secondary: #00AAD2;


//LINKS

$navbar-link-color: #000;

$grid-gutter-width: 50px;
