{# Inspired by https://dev.to/jh3y/circular-text-with-css-57jf #}

{%- set options = {
  string: 'Upcoming LOI deadline • ',
  spacing: 1.2,
  size: 1.15,
  date: site.nextAbbreviatedDeadline
} %}

{%- set options = options | merge({doubledString: options.string ~ options.string}) %}
{% css %}

#ring-wrapper {
  --char-count: {{ options.doubledString.length }};
  --font-size: {{ options.size }};
	--inner-angle: calc((360 / var(--char-count)) * 1deg);
	--character-width: {{ options.spacing }};
  --radius: calc(var(--character-width, 1) / sin(var(--inner-angle)) * -1ch);
  --radius-offset-margin: calc(var(--radius) * -1.5);

	font-family: monospace;
	text-transform: uppercase;
	font-size: calc(var(--font-size, 1) * 1rem);
	position: relative;
  margin-top: var(--radius-offset-margin);
}

#ring .char {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:
		translate(-50%, -50%)
		rotate(calc(var(--inner-angle) * var(--char-index)))
		translateY(var(--radius));
}

#ring-date {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(var(--radius) * -2);
  text-align: center;
  {# font-size: 0.8em; #}
}

@media (prefers-reduced-motion: no-preference) {
  #ring {
  	animation: spin 60s infinite linear;
  }

  @keyframes spin {
    to {
      rotate: -360deg;
    }
  }
}
{% endcss %}

<div id="ring-wrapper">
  <div id="ring">
    <span aria-hidden>
      {%- for char in options.doubledString %}
        <span class="char" style="--char-index:{{loop.index}}">{{ char }}</span>
      {%- endfor %}
    </span>
    <span class="sr-only">{{ options.string }}</span>
  </div>
  <div class="rotate-6">
    <span id="ring-date" class="text-highlight px-4 font-semibold font-sans">{{ options.date }}</span>
  </div>

</div>