{% css %}
@media (prefers-reduced-motion: no-preference) {
  #hero-image {
    animation: hero-in linear;
    animation-timeline: view();
    animation-range-start: 115vh;
    animation-range-end: 200vh;
  }

  #home h1 {
    animation: hero-text-in linear;
    animation-timeline: view();
    animation-range-start: 85vh;
    animation-range-end: 115vh;
  }

  @keyframes hero-in {
    0% {
      scale: 1;
      transform: translateY(0%);
      filter: blur(0);
    }
    100% {
      scale: 1.2;
      transform: translateY(10%);
      filter: blur(5px);
    }
  }

  @keyframes hero-text-in {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      scale: 0.8;
    }
  }
}
{% endcss %}
<header id="home">
  <div class="grid place-items-center place-content-center bg-[--brand-hero-bg-color] [grid-template-areas:'hero-stack'] pt-[4vh] pb-[2vh] isolate overflow-clip">
    <img
    id="hero-image"
    class="w-auto max-h-[87vh] [grid-area:hero-stack] z-0"
    src="{{ site.imgDir }}hero-image.jpg"
    alt="Photo from a Creative Playthings catalog showing two young children playing in front of a large plywood structure. Toys from the company are displayed inside the structure. Photograph taken in the mid 1940's."
    width="1258"
    height="1110"
    aria-hidden
/>
    <h1 class="font-display text-[14vw] text-center leading-tight lg:text-[6.5vw] text-white [grid-area:hero-stack] [text-shadow:_0_3px_5px_rgb(0_0_0_/_40%)] text-balance z-10">Caplan Foundation for Early Childhood</h1>
  </div>
</header>