<nav>
  <ul class="list-none flex flex-row">
    <li>
      <a href="#program-guidelines">Program Guidelines</a>
    </li>
    <li>
      <a href="#limitations">Funding Limitations</a>
    </li>
    <li>
      <a href="#apply-for-a-grant">Apply for a Grant</a>
    </li>
    <li>
      <a href="#grants-awarded">Grants Awarded</a>
    </li>
    <li>
      <a href="#about">About Us</a>
    </li>
  </ul>
</nav>