<header id="home">
  <div class="grid place-items-center place-content-center bg-[--brand-hero-bg-color] [grid-template-areas:'hero-stack'] pt-[4vh] pb-[2vh] isolate">
    <img
    class="w-auto max-h-[87vh] [grid-area:hero-stack] z-0"
    src="{{ site.imgDir }}red_image.jpg"
    alt=""
    width="1258"
    height="1110"
    aria-hidden
/>
    <h1 class="font-display text-[14vw] text-center leading-tight lg:text-[6.5vw] text-white [grid-area:hero-stack] [text-shadow:_0_3px_5px_rgb(0_0_0_/_40%)] text-balance z-10">Caplan Foundation for Early Childhood</h1>
  </div>
</header>