<header class="hero">
  <div class="hero__image">
    {# <snow-fall style="--snow-fall-size: 5px"> #}
    <img src="{{hero.image}}" alt="{{hero.imageAlt}}" width="{{hero.imageWidth}}" height="{{hero.imageHeight}}">
    {# </snow-fall> #}
  </div>
  <div class="hero__content px-[2vw] 3xl:mx-auto max-w-[2000px] w-full">
    <div>
      <h1 class="lg:max-w-[50%] text-7xl font-black tracking-tighter {{ hero.titleColor }}">{{ hero.title | safe }}</h1>
      <p class="max-w-[75%] lg:max-w-[50%] text-2xl font-bold mt-8">{{ hero.subtitle }}</p>
    </div>
  </div>
</header>