<section id="intro" class="text-[--text-default] bg-[--bg-default] pb-16" tabindex="-1">
  <div class="max-w-screen-xl lg:grid lg:grid-cols-8 lg:gap-4 mx-auto py-10 px-4">
    <div class="col-start-1 col-span-5 text-xl md:text-2xl">
      <p class="text-2xl xl:text-3xl xl:indent-[-1.2em]">
        <span class="text-red-600 dark:text-red-400">
          <span class="hidden xl:inline">→</span> The Caplan Foundation for Early Childhood</span> is an incubator of promising research and development projects that appear likely to improve the welfare of young children, from infancy through 7 years, in the United States.
      </p>
      <p>Welfare is broadly defined to <span class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-red-600 dark:from-pink-400 dark:to-red-500">support</span>, <span class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-sky-500 to-lime-600 dark:from-sky-400 dark:to-lime-500">acculturation</span>, <span class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-yellow-500 to-purple-600 dark:from-yellow-400 dark:to-purple-500">societal integration</span> and <span class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-orange-400 to-fuchsia-600">childcare</span>. Grants are only made if a successful project outcome will likely be of significant interest to other professionals, within the grantee’s field of endeavor, and would have a direct benefit and potential national application.</p>
      <p>
        The Foundation’s goal is to provide seed money to implement those <span class="underline decoration-wavy underline-offset-8 decoration-slate-300 dark:decoration-slate-500">imaginative proposals</span> that exhibit the greatest chance of improving the lives of young children, on a <span class="underline decoration-wavy underline-offset-8 decoration-slate-300 dark:decoration-slate-500">national scale</span>. Because of the Foundation’s limited funding capability, it seeks to maximize a grant's potential impact.<span class="text-red-600">&nbsp;፨</span></p>
    </div>
    <div class="col-start-6 col-span-3 text-2xl">
      {# <span class="font-display">Next application deadline</span><br>
      <mark class="pl-2 pr-4 font-bold">{{ site.nextDeadline }}</mark>. #}
      {%- include "deadline-ring.njk" %}
    </div>
  </div>
</section>