extends: default

rules:
  # Formatting
  indentation:
    spaces: 2
    indent-sequences: true

  line-length:
    max: 100
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true

  trailing-spaces: enable
  new-line-at-end-of-file: enable

  # Style & clarity
  truthy:
    allowed-values: ['true', 'false']
    check-keys: false

  comments:
    min-spaces-from-content: 1

  comments-indentation: enable

  # Safety
  empty-lines:
    max: 2
    max-start: 0
    max-end: 0

  key-duplicates: enable
  octal-values: enable

  # Flexibility (avoid noise)
  document-start: disable