$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";



// BASE TYPOGRAPHY
$title-font: Oswald, sans-serif;
$base-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
//$h1-size: ;
//$h1-line-height:;


//COLOR
$white: #FFF;
$brand: #FA4443;
$brand-secondary: #0085a5;


//LINKS

$navbar-link-color: #000;

$grid-gutter-width: 50px;
