<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>Foundation for Early Childhood</title>
		<meta name="description" content="The Caplan Foundation for Early Childhood provides grants for innovative, creative projects and programs that will significantly enhance the development, health, safety, education or quality of life of children from infancy through seven years of age.">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/favicon.ico">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="styles/main.css">
		<!-- endbuild -->
		<!-- build:js scripts/vendor/modernizr.js -->
		<script src="bower_components/modernizr/modernizr.js"></script>
		<!-- endbuild -->

	</head>
	<body data-spy="scroll" data-target="#global-nav" data-offset="100">
		<!--[if lt IE 10]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
	<a href="https://smile.amazon.com/ch/46-5370094" class="btn-amazon">
		<div class="muted">Find Us</div>
		<div class="muted">on</div>
		<div>Amazon Smile</div>
	</a>
	<div class="content position-relative">
		<div class="branding">
			<div class="branding-wrapper">
				<img class="img-responsive branding-center" src="images/red_image.jpg" alt="" width="1258" height="1110" />
				<div class="foundation-wrapper">
					<h1 id="fittext-1" class="h1 foundation">Caplan Foundation for Early Childhood</h1>
				</div>
			</div><!-- /.branding-wrapper -->
		</div><!-- /.branding -->

		<nav class="navbar navbar-default" id="global-nav">
			<div class="container-fluid flush hard">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--<a class="navbar-brand" href="#">Brand</a>-->
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="#program-guidelines">Program Guidelines</a>
						</li>
						<li><a href="#limitations">Funding Limitations</a></li>
						<li><a href="#apply-for-a-grant">Apply for a Grant</a></li>
						<li><a href="#grants-awarded">Grants Awarded</a></li>
						<li><a href="#about">About Us</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div class="container-fluid">
			<div class="row">
				<p class="lede col-sm-10 col-sm-offset-1 push-top-lg">The Caplan Foundation for Early Childhood is intended to be an incubator of promising research and development projects that may ultimately enhance the development, health, safety, education or quality of life of children from infancy through seven years of age across the country.</p>
				<p class="lede col-sm-10 col-sm-offset-1">Each of its grants is made with the expectation that a successful project outcome will be of significant interest to other investigators or developers, within the grantee’s field of endeavor, and will be amenable to beneficial application or adaptation elsewhere.  In essence, the foundation’s goal is to provide seed money for those imaginative endeavors, addressed to the needs of young children, which appear most likely to bear fruit on a national scale.</p>
			</div>

			<hr />

			<div class="row">
				<h2 class="h2 col-sm-10 col-sm-offset-1" id="program-guidelines" data-offset="100">Program Guidelines</h2>
				<p class="col-sm-10 col-sm-offset-1 text-center-lg push-bottom-lg">The Foundation provides funding in the following areas</p>
				<ul class="list-unstyled text--left">
					<li class="col-sm-10 col-sm-offset-1 col-lg-4 col-lg-offset-0">
						<div class="row">
							<div class="img-wrapper img-wrapper-guidelines push-top-md flush-top-lg col-sm-4 col-lg-12">
								<img src="images/child-welfare.jpg" class="rounded img-responsive"/>
							</div>
							<div class="col-sm-8 col-lg-12">
								<h3 class="h3 h3-lg text-center-lg">Early Childhood Welfare</h3>
								<p>Children can only reach their full potential when all aspects of their development, intellectual, emotional and physical, are optimally supported.  Providing a safe and nurturing environment for infants and preschoolers is essential, as is imparting to them the skills of social living in a culturally diverse world.</p>
								<p>We support programs that research best child rearing practices and identify models that can provide creative, caring environments to ensure all children thrive.</p>
							</div>
						</div>
					</li>
					<li class="col-sm-10 col-sm-offset-1 col-lg-4 col-lg-offset-0 border-lg-sides">
						<div class="row">
							<div class="img-wrapper img-wrapper-guidelines push-top-md flush-top-lg col-sm-4 col-lg-12">
								<img src="images/education-and-play.jpg" class="rounded-50 img-responsive"/>
							</div>
							<div class="col-sm-8 col-lg-12">
								<h3 class="h3 h3-lg text-center-lg">Early Childhood Education and Play</h3>
								<p>Research shows that children need to be stimulated as well as nurtured, early in life, if they are to succeed in school, work and life.  That preparation relates to every aspect of a child’s development, from birth to age seven, and everywhere a child learns – at home, in childcare settings and in preschool.</p>
								<p>We seek to improve the quality of both early childhood teaching and learning,  through the development of innovative curricula and research based pedagogical standards, as well as  the design of imaginative play materials and learning environments.</p>
							</div>
						</div>
					</li>
					<li class="col-sm-10 col-sm-offset-1 col-lg-4 col-lg-offset-0">
						<div class="row">
							<div class="img-wrapper img-wrapper-guidelines push-top-md flush-top-lg col-sm-4 col-lg-12">
								<img src="images/parenting-education.jpg" class="rounded img-responsive"/>
							</div>
							<div class="col-sm-8 col-lg-12">
								<h3 class="h3 h3-lg text-center-lg">Parenting  Education</h3>
								<p>To help parents create nurturing environments for their children, we support programs that teach parents about developmental psychology, cultural child rearing differences, pedagogy, issues of health, prenatal care and diet, as well as programs which provide both cognitive and emotional support to parents.</p>
							</div>
						</div>
					</li>
				</ul>
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->

		<div class="section section-1">
			<div class="container-fluid">
				<div class="row">
					<h2 class="h2 col-sm-10 col-sm-offset-1" id="limitations">Funding Limitations</h2>
					<div class="col-sm-10 col-sm-offset-1">
						<h3 class="h3 flush-top">​The Foundation will not fund:</h3>
						<ul class="list">
							<li>the operation or expansion of existing programs</li>
							​<li>the purchase or renovation of capital equipment, existing software or programmatic materials</li>
							​<li>single events</li>
							​<li>the creation or acquisition of works of art or literary works</li>
							​<li>organizations that discriminate based on race, color, creed, national origin or sexual orientation</li>
							​<li>individuals or for-profit entities</li>
							​<li>political organizations</li>
							​<li>programs with any religious content</li>
							​<li>organizations and/or programs operating outside the United States</li>
						</ul>
							<p class="push-top-lg">Furthermore, the Foundation will only consider funding grant applications that define measurable outcomes and mechanisms for documenting results, provide for financial accountability, and include detailed program budgets.</p>
							<h3 class="h3">Policy on Funding Indirect Expenses for Grants</h3>
							<p>The Foundation will not fund the general allocation of indirect expenditures to a project.  The Board will only approve up to 15% of the project’s direct expenditures for general and administrative expenses that are required for the successful completion of the project.</p>
							<h3 class="h3">Policy Regarding Multiple Year Funding Requests</h3>
							<p>Consistent with the Foundation’s mission, as an incubator of innovative research and development directed to improving the general welfare of young children, we will not fund more than the first year of multiple year projects.  It is our belief that having multiple funders, of those worthy projects that demand more sustained efforts, increases the likelihood of their success by ensuring broader oversight and greater long term promotional possibilities.</p>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div><!-- /.section -->

		<div class="container-fluid">
			<div class="row">
				<h2 class="h2 col-sm-10 col-sm-offset-1" id="apply-for-a-grant">Apply for a Grant</h2>
				<p class="col-sm-10 col-sm-offset-1 lede-section">The Caplan Foundation for Early Childhood has a two-step funding application process that includes both a Letter of Inquiry (LOI) and a Full Proposal.  We invite Full Proposals only after reviewing Letters of Inquiry.  The Foundation will only fund proposals that fit our program guidelines.</p>
				<p class="col-sm-10 col-sm-offset-1 push-top-sm">The next deadline for submitting a LOI is <b id="dates"></b>.</p>
				<p class="col-sm-10 col-sm-offset-1"> Applicants must submit Letters of Inquiry by clicking on the <i>Email your Letter of Inquiry</i> button below.  Once a Letter of Inquiry is received by the Foundation, the Directors will determine if the proposed program fits the Foundation’s funding guidelines. Successful applicants will be invited via email to submit Full Proposals.</p>
				<p class="col-sm-10 col-sm-offset-1 push-top-lg"><strong>Each Letter of Inquiry should include the following information:</strong></p>
				<ol class="col-sm-10 col-sm-offset-1 list-spaced list-count push-top-md">
					<li>
						<span class="list-count-counter" aria-hidden="true"></span>
						<span class="list-count-label">The organization’s official name, website address and contact information</span>
					</li>
					<li>
						<span class="list-count-counter" aria-hidden="true"></span>
						<span class="list-count-label">A brief (250 word maximum) summary of the organization’s mission and recent program history</span>
					</li>
					<li>
						<span class="list-count-counter" aria-hidden="true"></span>
						<span class="list-count-label">The organization’s 501(c)(3) Tax Exempt Status letter from the IRS and its’ Federal Tax ID#</span>
					</li>
					<li>
						<span class="list-count-counter" aria-hidden="true"></span>
						<span class="list-count-label">The total amount of the organization’s annual budget</span>
					</li>
					<li>
						<span class="list-count-counter" aria-hidden="true"></span>
						<span class="list-count-label">The total amount of the grant request</span>
					</li>
					<li>
						<span class="list-count-counter" aria-hidden="true"></span>
						<span class="list-count-label">An indication of the amount and type of support being requested from all sources</span>
					</li>
					<li>
						<span class="list-count-counter" aria-hidden="true"></span>
						<span class="list-count-label">Title of the project and a narrative description (1,000 words or less) of the issue(s) or need(s) to be addressed by the proposal, the work to be performed and the anticipated outcome.</span>
					</li>
					<li>
						<span class="list-count-counter" aria-hidden="true"></span>
						<span class="list-count-label">A description of how the proposal fits the Foundation’s program guidelines.</span>
					</li>
				</ol>
			</div><!-- /.row -->
			<div class="row">
				<p class="col-sm-10 col-sm-offset-1">Your Letter of Inquiry must follow the number format listed above.  In the subject line of your email, please enter LOI followed by the name of your organization.</p>
			</div><!-- /.row -->


			<div class="row push-top-md">
				<!--TODO Remove and replace with contact form-->
				<p class="text-center">
					<a href="mailto:info@earlychildhoodfoundation.org?subject=Letter%20of%20Inquiry" class="btn btn-primary btn-lg">Email your Letter of Inquiry</a>
				</p>
				<p class="small text-center muted">This will open your default email client. If you are using a different client, please send the email to info@earlychildhoodfoundation.org, and use "Letter of Inquiry" as your subject line.</p>
				<p class="text-center hidden">
					<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
							<i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>&nbsp;&nbsp;Submit Your Application
					</button>
				</p>
				<!-- /TODO -->
			</div>
		</div><!-- /.container-fluid -->
		<div id="vueGrants" class="section section-1 flush-bottom hard-bottom">

			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
						<h2 class="h2" id="grants-awarded">Grants Awarded</h2>
						<div class="row">

							<div class="col-sm-6 col-lg-4 inline-block" v-for="grant in grants" v-if="grant.visible">
								<h3 class="h3">{{ grant.organization }}</h3>
								<p v-for="paragraph in grant.paragraphs" v-html="paragraph"></p>
							</div>
							<div class="col-sm-12">
								<h3 class="h3">Previous Recipients</h3>
								<ul class="list-csv">
									<li v-for="grant in grants" v-if="!grant.visible">{{ grant.organization }} – {{ grant.amount }}</li>
								</ul>
								<div class="row push-top-md push-bottom-lg">
									<p class="text-center">
										<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#grant-applicants">
												<i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i>&nbsp;&nbsp;More about Previous Recipients
										</button>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- BEGIN Grant Recipients Modal -->
			<!-- Modal -->
			<div class="modal fade" id="grant-applicants" tabindex="-1" role="dialog" aria-labelledby="grantModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header clearfix">
							<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
									<span class="sr-only">Close</span>
							</button>
					</div><!-- /.modal-header -->
					<div class="container-fluid">
							<h2 class="h2 text-center" id="grantModalLabel">
									Previous Recipients
							</h2>
							<div class="modal-body push-top-lg">

								<div class="row">
									<div class="col-sm-6 inline-block" v-for="grant in grants" v-if="!grant.visible">
										<h3 class="h3">{{ grant.organization }}</h3>
										<p v-for="paragraph in grant.paragraphs" v-html="paragraph"></p>
									</div>
								</row>

							</div><!-- /.modal-body -->
					</div><!-- /.modal-wrapper -->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- END MODAL -->

		</div>
		<div class="section section-2 flush-bottom flush-top">
			<div class="container-fluid">
				<div class="row">
					<div class="full-height col-sm-10 col-sm-offset-1">
							<h2 class="h2" id="about">About Us</h2>

							<h3 class="h3">History</h3>

							<div class="col-sm-6 col-md-5 pull-right hard-right hard-left-mobile hard-top push-bottom-lg flush-top">
								<img src="images/Frank-Theresa-Caplan.jpg" alt="" class="rotate-1 img-responsive img-framed rounded hard-top" />
							</div>

							<p class="lede-section">Frank and Theresa Caplan were pioneers in the development of creative, imaginative, educational toys for young children. In the early thirties, Frank Caplan was a youth worker and one of the first male nursery school teachers in the United States.  In 1949, he co-founded Creative Playthings, a company that designed and manufactured toys to enhance the imagination and learning of young children.</p>

							<p>By the 1950’s, Creative Playthings was one of the most important manufacturers and suppliers of early childhood educational toys and equipment. They collaborated with internationally known artists, such as Nino Vitali, to design toys, as well Milton Hebald, Isamu Noguchi, Robert Winston and architects like Louis Kahn to design outdoor playscapes and sculptures.</p>

							<p>Creative Playthings researched and developed innovative curriculum materials for schools and furniture that could be stacked and rearranged to allow for flexibility within the classroom. They introduced dolls, which were racially diverse, and anatomically correct boy and girl dolls, which were provocative at the time.</p>

							<p>In 1975, Frank Caplan and his wife, Theresa, created The Princeton Center for Infancy and Early Childhood, a pioneering research and publishing organization focusing on materials for parent education. He researched and co-authored, with Theresa, a national bestselling series on early childhood development called <cite>The First Twelve Months of Life</cite> (1977), <cite>The Second Twelve Months of Life</cite> (1978), and <cite>The Early Childhood Years: The 2-6 Year Old</cite> (1983). In addition, Frank and Theresa co-authored <cite>The Power of Play</cite> in 1973.</p>

							<p>Throughout their lives, Frank and Theresa worked to develop innovative and beautifully designed educational toys and equipment for home and school environment. They wanted to encourage parents’ understanding and knowledge about the extraordinary time of infancy and early childhood.</p>

							<p>The Caplan Foundation for Early Childhood was created in 2014 as a result of a bequest from Theresa Caplan stipulating her estate be used to incubate innovation and research addressing the needs of children from birth through age seven.  </p>

							<hr class="push-top-lg">

						<h3 class="h3">Financial Information</h3>
						<ul class="list-unstyled row">
							<li class="media col-xs-3" style="margin-top: 15px;">
								<div class="media-left">
									<i class="media-figure glyphicon glyphicon-download-alt glyphicon-lg" aria-hidden="true"></i>&nbsp;&nbsp;
								</div>
								<div class="media-body">
									<a href="./files/2015-990-Caplan-Foundation.pdf">
										2015 IRS Form 990 (PDF)
									</a>
								</div>
							</li>
							<li class="media col-xs-3">
								<div class="media-left">
									<i class="media-figure glyphicon glyphicon-download-alt glyphicon-lg" aria-hidden="true"></i>&nbsp;&nbsp;
								</div>
								<div class="media-body">
									<a href="./files/2014-990-Caplan-Foundation.pdf">
										2014 IRS Form 990 (PDF)
									</a>
								</div>
							</li>
						</ul>


					</div><!-- /.full-height -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div><!-- /.section -->
	</div><!--/.content -->

	<div class="footer flush-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-1">
					<img class="img-responsive" src="images/logo-optimized.svg" alt="" width="100" height="100" style="background: #F13349; border-radius: 100%;" />
				</div>
				<div class="col-sm-11">
					<span class="h2" style="color:#FFF; letter-spacing:1px;">Caplan Foundation for Early Childhood</span><br />
					<span style="color:#CCC">160 Cotswold Court &middot; Lancaster, PA 17601 &middot; 717&#8209;291&#8209;7201 &middot; <a href="mailto:info@earlychildhoodfoundation.org" style="color: #CCC; text-style: underline;">info@earlychildhoodfoundation.org</a></span>

				</div>
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
	</div><!-- /.footer -->


		<!-- BEGIN MODAL -->
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header clearfix">
						<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span>
								<span class="sr-only">Close</span>
						</button>
				</div><!-- /.modal-header -->
				<div class="modal-wrapper text-center">
						<h2 class="modal__title h2" id="myModalLabel">
								Submit your application.
						</h2>
						<div class="modal-body">
								<p class="lead muted">Please send us the required documents as <a href="/#apply-for-a-grant" target="_blank">outlined on the website  <span class="glyphicon glyphicon-share" aria-hidden="true" style="font-size:1rem; line-height: 1.5;"></span></a>.</p>

								<form id="contact" action="contact-cfec2.php" method="post" enctype="multipart/form-data">
										<div class="push-top-lg text-left">
												<fieldset>
														<legend class="sr-only">Send us your application</legend>
														<div class="form-group form-group-lg">
																<label>Name
																		<span class="required" aria-hidden="true"></span>
																		<span class="sr-only">Required</span>
																		<input type="text" id="name" class="form-control" name="name" />
																</label>
														</div>

														<div class="form-group form-group-lg">
															<label>Email address
																<span class="required" aria-hidden="true"></span>
																<span class="sr-only">Required</span>
																<input type="text" id="email" class="form-control" name="email"   />
															</label>
														</div>

														<div class="form-group form-group-lg">
																<label>Message
																		<textarea class="form-control" name="message" id="message" rows="5" cols="60"></textarea>
																</label>
														</div>

														<div class="form-group form-group-lg">
															<label>Attach your Letter of Inquiry:
																<input class="push-top-sm" type="file" name="application[]" multiple="" />
															</label>
																<small class="block text-muted push-top-md">Note: This file import allows <b>multiple files</b> to be selected within a folder. On Windows, hold the <code>ctrl</code> key when selecting the files, on  OSX hold <code>⌘ (command)</code>.</small>
														</div>

														<div id="submit-form" class="push-top-lg text-center">
																<button type="submit" class="js-send-button btn btn-lg btn-primary"><i class="glyphicon glyphicon-send" aria-hidden="true"></i>&nbsp;&nbsp;Send</button>
														</div>
												</fieldset>
										</div>
										<!--end fieldset-wrapper -->
								</form>
						</div><!-- /.modal-body -->
				</div><!-- /.modal-wrapper -->
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!-- END MODAL -->


		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/FitText.js/jquery.fittext.js"></script>
		<script src="bower_components/jquery-form/jquery.form.js"></script>
		<script src="bower_components/jquery-validate/dist/jquery.validate.js"></script>
		<script src="bower_components/bower-webfontloader/webfont.js"></script>
		<script src="bower_components/smoothscroll/dist/smoothscroll.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
		<script src="https://unpkg.com/vue@2.2.4/dist/vue.min.js"></script>



		<!-- Google Analytics-->
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-4524438-13');ga('send','pageview');
		</script>

				<!-- build:js({app,.tmp}) scripts/main.js -->
				<script src="scripts/main.js"></script>
				<script src="scripts/grants.js"></script>
				<!-- endbuild -->
</body>
</html>
