---
permalink: /index.html
---

{% extends './_layouts/default.njk' %}

{%- block main %}
  <section id="lede" class="text-slate-700  bg-slate-50" tabindex="-1">
    <div class="max-w-screen-xl lg:grid lg:grid-cols-8 lg:gap-4 mx-auto py-10 px-4">
      <div class="col-start-1 col-span-5 text-2xl leading-relaxed">
        <p class="font-display text-3xl font-semibold leading-normal indent-[-1.2em]">
          <span class="font-extrabold text-red-600">→ The Caplan Foundation for Early Childhood</span> is an <span class="font-extrabold">incubator of promising research and development projects</span> that appear likely to improve the welfare of young children, from <span class="font-extrabold">infancy through 7 years</span>, in the United States.
        </p>
        <p>Welfare is broadly defined to <span class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-red-600">support</span>, <span class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-sky-500 to-lime-600">acculturation</span>, <span class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-yellow-500 to-purple-600">societal integration</span> and <span class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-orange-400 to-fuchsia-600">childcare</span>. Grants are only made if a successful project outcome will likely be of significant interest to other professionals, within the grantee’s field of endeavor, and would have a direct benefit and potential national application.</p>
        <p>
          The Foundation’s goal is to provide seed money to implement those <span class="underline decoration-wavy underline-offset-8 decoration-slate-300">imaginative proposals</span> that exhibit the greatest chance of improving the lives of young children, on a <span class="underline decoration-wavy underline-offset-8 decoration-slate-300">national scale</span>. Because of the Foundation’s limited funding capability, it seeks to maximize a grant's potential impact.<span class="text-red-600">&nbsp;፨</span></p>
      </div>
      <div class="col-start-7 col-span-2 text-xl rotate-2">
        <span class="font-display font-bold text-slate-600">Next application deadline</span><br>
        <mark class="pl-2 pr-4 font-bold">{{ site.nextDeadline }}</mark>.
      </div>
    </div>
  </section>

  {%- include "program-guidelines.njk" %}
  {%- include "funding-limitations.njk" %}
  {%- include "apply-to-grant.njk" %}
  {%- include "awarded-grants.njk" %}
  {%- include "about.njk" %}
{%- endblock %}
{%-block scripts %}
  {# <script>
    (function (b, o, i, l, e, r) {
      undl;
      b.GoogleAnalyticsObject = l;
      b[l] || (b[l] = function () {
        (b[l].q = b[l].q || []).push(arguments);
      });
      b[l].l = + new Date();
      e = o.createElement(i);
      r = o.getElementsByTagName(i)[0];
      e.src = '//www.google-analytics.com/analytics.js';
      r
        .parentNode
        .insertBefore(e, r);
    })(window, document, 'script', 'ga');
    ga('create', 'UA-4524438-13');
    ga('send', 'pageview');
  </script> #}
{% endblock %}