@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --title-font: Oswald, sans-serif;
    --base-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    --white: hsl(0, 0%, 100%);
    --brand-primary: hsl(0, 100%, 61%);
    --brand-secondary: hsl(194, 100%, 33%);
    --brand-hero-bg-color: #fa4242;

    --navbar-link-color: hsl(0, 0%, 0%);
    --grid-gutter-width: 50px;
  }

  /* oswald-300 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/oswald-v53-latin-300.woff2') format('woff2');
  }
}

/* html,
  body {
    font: 100%/1.6 var(--base-font);
    overflow-x: hidden;
  }

  body {
    background-color: #fffffa;
    color: #555;
    font-size: 1.1rem;
  }

  ul,
  ol {
    list-style-position: inside;
    padding: 0;
  }

  p {
    line-height: 1.5;
    margin-bottom: 15px;
  }
} */

@layer components {
  /* SKIP LINK */
  #skip-link {
    background: theme('colors.slate.950');
    border-radius: 9999px;
    color: theme('colors.slate.200');
    font-weight: 500;
    left: 50%;
    padding: 0.25rem 1rem;
    position: absolute;
    transform: translate(-50%, -100%);
    transition: transform 0.3s;
    z-index: calc(infinity);
  }

  #skip-link:focus {
    margin-top: 1.25rem;
    transform: translate(-50%, 0);
  }

  /* 
  .list {
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  .list li {
    margin-bottom: 1rem;
  }

  .list-csv > li {
    display: inline;
    font-size: 1.1em;
    line-height: 1;
    padding: 0;
  }

  .list-csv > li:after {
    color: #dfe0d3;
    content: ' / ';
    font-size: 2em;
    left: 0.06em;
    position: relative;
    top: 0.21em;
  }

  .list-csv > li:last-child:after {
    color: transparent;
  }

  .list-spaced > li {
    margin-bottom: 1.5rem;
  }

  .list-count {
    counter-reset: counter; 
    list-style: none;
  }

  .list-count-counter::before {
    background-color: #eee;
    border-radius: 100%;
    content: counter(counter);
    counter-increment: counter;
    display: inline-block;
    height: 3em;
    line-height: 3em;
    text-align: center;
    width: 3em;
  }

  .list-count-label {
    display: table-cell;
    padding-left: 1em;
    vertical-align: middle;
  } 
  */
}

/* TYPOGRAPHY */
/* .h1,
.h2,
.h3 {
  font-family: var(--title-font);
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 15px;
  margin-top: 20px;
}

.h1 {
  color: var(--white);
  font-size: 5.6vw;
  letter-spacing: 0.1em;
}

.h2 {
  color: var(--brand-primary);
  font-size: 1.5rem;
  margin-bottom: 25px;
  margin-top: -80px; 
  padding-top: 80px;
}

.h2-hero {
  color: #f7bebe;
  font-family: 'open sans', sans-serif;
}

.h3 {
  color: var(--brand-secondary);
  font-family: inherit;
  font-size: 1.125rem !important;
  font-weight: 500;
}

.h3-lg {
  font-size: 1.4375rem !important;
}

.lede {
  color: #666;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.8;
} 

.container-fluid {
  max-width: 1300px;
}
*/

/* BRANDING AREA */

/* .branding {
  background-color: var(--brand-hero-bg-color);
  height: 100%;
  padding-top: 3vh;
  position: relative;
  width: 100%;
}

.branding-center {
  height: auto;
  margin: 0 auto;
  max-height: 87vh;
  width: auto;
}

@media (min-width: 768px) {
  .columns-2-md {
    columns: 2;
  }
} */

/* FORMS */

/* label {
  width: 100%;
}

input,
textarea {
  box-shadow: none !important;
  font-weight: 300;
}

input[type='file'] {
  line-height: 1ex !important;
} */
