name: 'Deploy-Netlify'
on:
  schedule:
    - cron: '0 5 1 2,10 *' # Midnight ET on Feb 1 and Oct 1
    - cron: '0 4 1 6 *' # Midnight ET on Jun 1 during DST
  workflow_dispatch:
jobs:
  deploy:
    name: 'Auto Deploy'
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Netlify
        env:
          TOKEN: ${{ secrets.NETLIFY_BUILD_HOOK_ID }}
        run: curl -X POST -d {} https://api.netlify.com/build_hooks/${TOKEN}
